@charset "UTF-8";
/* CSS Document */
body{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
}

form {
	padding: 20px;
	margin: 0 0 2em;
	background-color: #e1d8b9;
	width: 550px;
	border: none;
	position: relative;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	
}
fieldset{
	width:100%;
	border:0;
}
input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

#generalInfo input,
textarea,
.planet
{
	display:block;
	padding:0.5em 0 0.5em 0.5em;
	width:400px;
}

label,
.add-on{
	display:inline-block;
}
label{
	padding:1em 0 0.3em 0; 
}



input[type="submit"]{
	cursor:pointer;
	width:6em;
	height:3em;	
	margin-left:1em;
}
select{
	width:200px;
}

#personalInfo .label{
	padding:0.5em 0;
}
#personalInfo input,
#personalInfo select{
	margin-bottom:0.5em;
}


/* typography */

legend{
	font-size:1.2em;
	color:#903;
}
label,
.label{
	font-size:1em;
	color:#903;
	font-variant:small-caps;
}
input,
textarea{
	/* necessary for Firefox or it will show courier*/
	font-family:inherit;
	font-size:0.8em;
}
input[type="radio"]+label,
input[type="checkbox"]+label,
select,
input[type="submit"]{
	font-variant:normal;
	font-size:0.8em;
	color:#666;
}

input[required]{
	border:2px solid #666;
}


