/* ==========================================================================
   Basic Fluid Grid styles. works with normalize.css
   ========================================================================== */
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html{
    background-color:#4f5760;
}
body{
    font-size:1em;
    background-color:#cacaca;
    width:98%;
    max-width:1200px;
    min-width: 320px;
    margin:0 auto;
}
header{
    background-color:#a7a7a7;
    padding:2.08%;
}

main{
    background-color: #a7a7a7;
    
    margin:2.08%;
    padding:2.08%;
}
footer{
    background-color: #a7a7a7;
    clear: both;
    padding:2.08%;
}

/*quickie reset of margins around headings and p*/
p, h1, h2, h3{
    margin: 2.08% 0;
}

/* 
Fluid Image Additions
 */
 figure{
    float:right;
    margin-left:2.08%;
    border:solid 10px gray;
    width:50%;
 }
 img, embed, object, video{
    max-width: 100%; /* only works with ie7+ */

 }
 /*
Fluid Grid additions
  */
.image-box{
    width: 30%;
    float:left;
    margin:10%;
    position: relative;
    line-height: 0;
}
.image-box img{
    padding:2%;
    background-color: white;

}
.image-box h3{
    background-color: rgba(255,255,255,.4);
    position: absolute;
    margin: 0;
    bottom:0;
    left:0;
    width: 100%;
    padding:5%;
    line-height: 1.4em;
}