@charset "UTF-8";
/* color palette
#462445	=>	Dark Purple
#64384f	=>	Medium Purple
#ec6b55 =>	Coral
#6bb6a1 =>	Aqua
*/
/*
==Fonts
*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
	font-family: 'FengardoNeueRegular';
	src: url('../fonts/FengardoNeue_Regular-webfont.eot');
	src: url('../fonts/FengardoNeue_Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FengardoNeue_Regular-webfont.woff') format('woff'),
	url('../fonts/FengardoNeue_Regular-webfont.ttf') format('truetype'),
	url('../fonts/FengardoNeue_Regular-webfont.svg#FengardoNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FengardoNeueBlack';
	src: url('../fonts/FengardoNeue_Black-webfont.eot');
	src: url('../fonts/FengardoNeue_Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FengardoNeue_Black-webfont.woff') format('woff'),
	url('../fonts/FengardoNeue_Black-webfont.ttf') format('truetype'),
	url('../fonts/FengardoNeue_Black-webfont.svg#FengardoNeueBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}
/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}

/* apply a natural box layout model to all elements */
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

.cf {
	zoom:1;
}
/*
== Basic Links and button actions
*/
a {
	text-decoration: none;
	color: #667F6A;
	border-bottom: 1px dotted #667F6A;
}

a:hover, a:focus {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}

a img {
	border: none;
	outline: 0;
}

.preview a {
	display: block;
	height:100%;
}

.preview a:hover, .preview a:focus {
	border: none;
}
a.action{
	background-color:#eee; /* gray */
	display:inline-block; 
	-webkit-border-radius: 6px;    
	font-size:1.2em;
    border-radius: 6px;
    color:#000;
    border-bottom:solid 1px #ccc;
}
.action.primary{
	background-color: #6bb6a1; /* turquoise */
	color:#fff;
	border-color:#3a6459;
}
/* 
== Base background and fonts
*/
html {
	background-color: #462445 ;/* dk purple */
	border-top:solid 8px #2b152a;
}

body {
	font: 100% "Droid Sans", Myriad, "Myriad Pro", Tahoma,  Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background: #efefef;
	color: #000;
	font-weight:normal;
	font-style:normal;
	width: 98%;
	margin: 0 auto;
	min-width: 320px;	
}
h1, h2, h3, h4{
	font-family: FengardoNeueRegular, Tahoma, Verdana, Segoe, sans-serif;
}
/* 
== Basic Nav
*/
#mainNav h2, #mainNav #menuToggle {
	display: none;
}
#mainNav{
	background-color:#64384f;
}
nav ul {
	list-style: none;
}

/*
== header styles
*/
header {
	width: 100%;
	padding-top: 1px;
	overflow: hidden;
	background-color:#462445;
	height: 70px;
}

header h1 {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center top;	
	min-height: 60px;
	display: block;
}
header h1 a{
	text-indent: -99999em;
	display: block;
	height: 100%;
}
header a {
	text-decoration: none;
	border: none;
	color: white;
}
header a:hover {
	border: none;
	color: white;
}
header h2 {
	display: none;
}
/* 
== nav styles
*/
#mainNav {
	width: 100%;
}

#mainNav a, #mainNav h3 {
	text-transform: uppercase;
	display: block;
	color: white;
	border: none;
	font-size: 1.2em;
	text-align: left;
	color: white;	
	display: block;
	margin-bottom: 1px;
	padding-left: 1em;
	line-height: 2em;
	text-transform: uppercase;
	cursor: pointer;
}
#mainNav a:hover{
		background-color: #b0606d;
	}
#mainNav a.current {
	color: rgb(123, 121, 143);
	cursor: default;
	color: rgb(237, 228, 214);
}
#mainNav {
	width: auto;
	margin: 0;
	margin-bottom: 1em;
	
	overflow: hidden
}

.topMenu {
	max-height: 0;
	
}
.topMenu.expand {
	max-height: 900em;
	visibility: visible;
}
#mainNav span.indicator {
	position: absolute;
	right: 1em;
}

/*misson styles*/

.mission {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1em;
}

.mission h1 {
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
	margin-bottom: .5em;
	
}
.mission .action{
	text-align: center;
	width:90%;
	padding:.5em 1em;
}

/*
== Fluid Images
*/
img{
	max-width: 100%;
	margin:0 auto;
	display: block; /* prevents weird inline-gaps */
}

/*
== article styles
*/
.page-content article{
	width:90%;
	margin:0 auto;
}

article section {
	
	margin: 2em 0;
}

article h1 {
	font-size: 1.8em;
	
}

article h2 a {
	color: rgb(76, 67, 65);
	border: none;
}

article h2 a:hover {
	color: rgb(123, 121, 143);
	border: none;
}

#demo-video h1, #demo-video p{
	display: none; /* hide these elements in the smallest devices */
}
.preview a, .preview a:hover {
	display: block;
	border: none;
}

article section {
	margin-bottom: 1.6em;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
}

article h2 {
	font-size: 1.6em;
	margin-bottom: 0;
}

.caption {
	font-size: .8em;
	margin-top: 1em;
}

article p.pubdate {
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

article .preview {
	height: 175px;
	width:100%;
}

.feature-personalize .preview {
	background: url(../images/sm-feature-personalize-banner.jpg) no-repeat;
}

.feature-friends .preview {
	background: url(../images/sm-feature-friends-banner.jpg) no-repeat;
}

.feature-portable .preview {
	background: url(../images/sm-feature-portable-banner.jpg) no-repeat;
}

/*
== gallery styles
*/
#gallery {
	margin-top: 2em;
}

#gallery h1 {
	background: none;
	padding: 0;
	border: none;
	margin: 0;
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
}

#gallery ul, #gallery li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#gallery h1 {
	font: 4em OstrichSansBold;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	color: rgb(123, 121, 143);
}

.intro {
	margin-bottom: 2em;
}

.intro p {
	font-size: .8em;
	margin: 0 0 1em;
}

.photos li {
	position: relative;
	float: none;
}

#gallery .photos a:after {
	content: attr(title);
	display: block;
	width: 90%;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 2em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .8); 
	z-index: 500;
}


/*
== form styles
*/
input[type=text], input[type=email], input[type=url], textarea {
	width: 95%;
}

fieldset {
	width: 90%;
	border: none;
	background: rgb(237, 228, 214);
	position: relative;
	min-width: 250px;
	padding:1em;
	margin: 1em 0;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
}
fieldset:before {
	content:attr(title);
	display: block;
	font: 1.2em Cantarell, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid rgb(76, 67, 65);
	width: 100%;
}
legend {
	position: absolute;
	top:0;
	left: -2000em;
}
fieldset p {
	font: .8em Cantarell, Arial, Helvetica, sans-serif;
	margin: 1em 0 0;
	font-style: italic;
	float: none;
	width: auto;
}

label {
	display:block;
	font-size: 1em;
	margin: .8em 0 0;
}

input[type="submit"] {
	display:block;
	margin: 1em 0;
}


.inline {
	display: inline;
}

/*
== aside styles
*/
aside {
	
	background-color: #e1e1e1;
}

aside section {
	clear: both;
}

aside h2 {
	font-size: 1.4em;
	padding: 1em 0 .5em;
	text-align:center;
}
aside .product-tour {
	background-color: #ec6b55;
}
aside .product-tour h2 {
	border: none;
}
aside .product-tour ul {
	display: none; /* hide the list immediately on small screens. JS will put a <select> in its place */
}
.product-tour select {
	width: 80%;
	margin-left: 10%;
	font-size:1.5em;
	margin-bottom: 1.2em;
}
aside .developer-blog article{
	width: 100%;
	padding:.5em 5% ;
	background-color: #6ab5a0;
}
aside .developer-blog h2{
	background-color: #6ab5a0;
	text-align: center;
}
aside .developer-blog h3{
	background-color:#4ba084;
	max-width:400px;
	margin:0 auto;
	padding:.25em;
}


/*
== footer styles
*/
#page-footer {
	clear:both;
	padding-bottom: 2em;
	background: #2b152a;
	padding-top: 1.5em;
	color:#fff;
}

#page-footer section{
	padding:1em 5%;
}
#page-footer h2{
	font-size: 1.25em;
}

/*tablet styles*/
@media only screen and (min-width:480px) { 
	/* make the menu come back */
	.topMenu {
		max-height: auto;
	}
	.topMenu.expand {
		max-height: 0;
		visibility: hidden; /* hide the expand button */
	}
	#mainNav li {
		float: left; /* menu items sit side by side */
	}
	body {
		width: 90%;
		margin: 0 auto;
		min-width: 500px; /* TODO:  why is this necessary for the JS menu toggle to work?? */
		
	}
	
	/*nav styles*/
	#mainNav {
		width: 100%;		
		padding: 0;
		margin-bottom:0;
	}
	.topMenu {		
		margin: 0 auto;
	}

	#mainNav a {
		font-size: 1em;
		text-align: center;
		cursor: pointer;
		padding:.75em 1em;
	}
	
	/*mission styles*/
	.mission {
		background: url(../images/sm_skyline.jpg) no-repeat;
		background-position: top center;
		margin-bottom: 3em;
		min-height: 247px;
	}

	.mission h1 {
		font-weight: bold;
		font-size:2em ;
		color: #fff;
		line-height:1.1em;		
		text-align: center;
		padding:2em 0 1em;
		text-shadow: 0px -1px 0px #29211c;
		filter: dropshadow(color=#29211c, offx=0, offy=-1);
		max-width: 300px;
		margin:0 auto ;
	}
	.mission .action{
		width:260px;
	}


	/* article styles */ /* TODO: figure out why these are collapsing into the video strangely */	
	article section {		
		overflow: hidden;
		position: relative;
		padding: .8em;
		clear: both;
	}

	article .video-box{
		width:55%;
		float:right;
	}
	#demo-video h1, #demo-video p{
	display: block; /* these elements are hidden and reappear once tablet size is achieved */
}

	article h2 {
		font-size: 2.4em;
		float: left;
		clear: left;
		margin-bottom: 0;
		width: 40%;
	}

	article p {
		font-size: 1em;
		margin: 0;
		float: left;
		clear: left;
		width: 40%
	}

	article p.pubdate {
		font-size: 1em;
		text-transform: uppercase;
		float: left;
		clear: left;
		margin: 0 0 1em;
		width: 40%;
	}

	article .preview {
		height: 175px;
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
	}

	
	/*gallery styles*/
	#gallery h1 {
		font: 6.2em OstrichSansBold;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		color: rgba(123, 121, 143,.8)
	}




	.intro p {
		font-size: .8em;
		margin: 0 0 1em;
		float: none;
		clear: none;
		width: auto;
	}

	.intro {
		-moz-column-count: 2;
		-moz-column-gap: .5em;
		-webkit-column-count: 2;
		-webkit-column-gap: .5em;
		column-count: 2;
		column-gap: .5em;
		margin-bottom: 2em;
	}

	.photos {
		-moz-column-count: 2;
		-moz-column-gap: .5em;
		-webkit-column-count: 2;
		-webkit-column-gap: .5em;
		column-count: 2;
		column-gap: .5em;
		margin-bottom: 2em;
	}

	
	.photos li {
		position: relative;
		float: none;
	}

	#gallery .photos a:after {
		content: attr(title);
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 2em;
		color: white;
		text-align: center;
		background: rgba( 25, 25, 25, .8);
		z-index: 500;
	}

	

	/*form styles*/
	fieldset {
		width: 90%;
	}

	input[type="text"], input[type="email"], input[type="url"], textarea {
		width: 95%;
	}

	fieldset p {
		float: none;
		width: auto;
	}

	/*aside styles*/
	aside {
		width: 92.2%;
		padding: 0 3.9%;
	}

	aside section {
		clear: both;
	}

	aside h2 {
		font-size: 1.2em;
		margin-bottom: 1em;
		border-top: 2px solid rgb(76, 67, 65);
		padding-top: .8em;
	}

	aside .product-tour h2 {
		float: left;
		margin-right: 1em;
		font-size: 1.6em;
		border: none;
		padding-top: 0;
	}

	aside .product-tour {
		margin-bottom: 2em;
	}

	aside .product-tour ul {
		display: block;
	}

	.product-tour select {
		float: left;
		margin-top: 1em;
		width: 200px;
	}

	.contest img {
		float: left;
		margin-bottom: 1em;
		margin-right: 1em;
	}

	.contest p {
		font-size: .9em;
		margin-bottom: 1.5em;
		width: 85%;
		line-height: 2;
	}

	.enter a {
		clear: both;
		display: block;
	}

	/*footer styles*/
	#pageFooter {
		clear:both;
		overflow:hidden;
		height: 150px;
	}

	#pageFooter form {
		float: left;
		margin-left: 3.9%;
		display: inline;
	}

	.notice {
		width: 300px;
	}

	#pageFooter p {
		float: right;
		clear: right;
		margin-right: 3.9%;
		text-align: right;
	}
}

