/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*
== Basic Links
*/
a {
	color: #4ebeb1;
}
a:hover,
a:focus{
	color:#535b97;
	background-color: #eee;
}
/*
== helper classes
*/
.alignleft{
	float:left;
	margin-right:16px;
}
.alignright{
	float:right;
	margin-left:16px;
}
/* 
== Basic Layout
*/

body {
	font-size: 100%; /* set base font to 16px */
	font-family: "Myriad Pro", Myriad, Tahoma, Geneva, sans-serif;
	background-image: url(../images/background_home_body.png);
	background-repeat: repeat-x;
}
.wrapper {
	width: 960px; /* TODO: convert this to max width */
	margin: 0 auto; /* center it within the parent */
	position: relative;
	padding-top: 20px;
}
header h1 {
	background-image: url(../images/logo.png);
	width: 184px; /* TODO: convert this to percentage */
	height: 35px;
}
header h1 a {
	text-indent: -99999999px;
	outline: none;
	display: block;
	height: 100%;
}
header .utilities {
	position: absolute;
	top: 6px;
	right: 0;
	width: 400px; /* TODO: convert this to percentage */
	text-align: right;
}
header .utilities li {
	display: inline;
	padding: 0 5px;
	border-left: 1px solid #999;
}
header .utilities li.rss {
	border-left: none;
	background-image: url(../images/icon_16_rss.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0 1px;
}
header .utilities a {
	color: #999;
	text-decoration: none;
}
main {
	margin-top: 480px; /* TODO this will need to change when the absolute positioning changes */
}
/* 
== Call to action Banner
*/

.call-to-action {
	position: absolute; /* TODO: use caution with absolute positioning and fluid layout */
	left: 0;
	top: 126px;
	width: 100%;
}
.cta-contents {
	color: white;
	position: absolute;
	top: 80px;
	right: 0;
	font-size: 42px;
	line-height: 50px;	 
	width: 500px; /* TODO: convert this to percentage */
}
.cta-contents h2 {
	text-shadow: 0px -1px 0px #001967;
	filter: dropshadow(color=#001967, offx=0, offy=-1);
}
.cta-contents h3 {
	color: #3d4372;
	font-size: 24px;
	margin-top: 16px;
}
.large-monitor {
	position: relative;
	left: -22px;
}
.intro-text {
	width: 460px; /* TODO convert this to percentage (48) */
	float: left;
}
.features {
	width: 470px; /* TODO convert this to percentage (49) */
	float: right;
}

aside {
	clear: both;
	padding:40px 0;
}

.features li {
	width: 225px; /* TODO: convert this to percentage (50) */
	float: left;
	margin:0 10px 20px 0;
}
.features li img{ /* Icon */
	float:left;
	margin:0 10px 20px 0;
}
.blog-posts {
	width: 720px; /* TODO: convert this to percentage (75) */
	float: left;
	margin-bottom:10px;
}
.blog-posts article {
	width: 240px; /* TODO: convert this to percentage (33.33333)*/
	float:left;
}
.blog-posts img{
	border:solid 3px #ddd;

}
.tweets {
	width: 240px; /* TODO: convert this to percentage (25) */
	float: right;
}
footer {
	border-top:solid 10px black;
	clear: both;
}
/* Navigation */
header nav {
	position: absolute; /* TODO careful with absolute! */
	top:80px; 
	width: 100%;
}
header nav li{
	display: inline-block;
	line-height: 48px;


}
header nav li a{
	padding: 0 24px; /* TODO convert to ems */
	font-size: 18px;
	display: block;
	color:white;
	text-decoration: none;
}
header nav li a:hover, 
header nav li a:focus,
header nav li.current a{
	color:white;
	background-color: rgba(0,0,0,.15)
}
footer ul{
	width:960px;
	margin: 16px auto;
}
footer li{
	display: inline-block;
	padding-right:16px;
}
footer a{
	color:black;
	text-decoration: none;
}


/* Typography */ 
/* TODO: convert all px sizes to ems */

main, aside{
	line-height: 1.2em;
	}
main .intro-text h2{
	font-size:24px;
	color:#4d548f;
	margin-bottom: 8px;
	line-height: 28px;
}
.features{
	font-size: 14px;
}
.features h3{
	font-size:15px;
	font-weight: bold;
	color:#4d548f;
}
aside h2{
	text-transform: uppercase;
	color: #999;
	font-size:12px;
	border-top: solid 1px #DDD;
	margin-bottom:8px;
	
}
aside h3{
	font-weight: bold;
}
.blog-posts{
	font-size: 15px;
}
.twitter{
	font-size: 12px;
}
.twitter time{
	color:#999;
}
/* Buttons */
.button{
	padding: 10px 20px;
	line-height: 16px;
	font-size:18px;
	color: white;
	text-decoration: none;
	display: inline-block;
	-webkit-border-radius: 50px;
    
    border-radius: 50px;
    -webkit-box-shadow:  0px 1px 0px 0px #717171, 
    				0px -1px 0px 0px #d0d0d0;        
    box-shadow:		0px 1px 0px 0px #717171,
        			0px -1px 0px 0px #d0d0d0;
	background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9a9a9 0%, #898989 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a9a9), color-stop(100%,#898989)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a9a9a9 0%,#898989 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#898989',GradientType=0 ); /* IE6-9 */


}
.button:hover{
	background:#5394ad;
	color:white;
}
.primary{
	-webkit-box-shadow:	0px 1px 0px 0px #373c6d, 
    					0px -1px 0px 0px #8b98ce;        
    box-shadow:  		0px 1px 0px 0px #373c6d,
        				0px -1px 0px 0px #8b98ce;
        				background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f68a6 0%, #454b85 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f68a6), color-stop(100%,#454b85)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f68a6 0%,#454b85 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#454b85',GradientType=0 ); /* IE6-9 */


}
