/*==Fonts */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
	font-family: 'FengardoNeueRegular';
	src: url('../font/FengardoNeue_Regular-webfont.eot');
	src: url('../font/FengardoNeue_Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/FengardoNeue_Regular-webfont.woff') format('woff'),
	url('../font/FengardoNeue_Regular-webfont.ttf') format('truetype'),
	url('../font/FengardoNeue_Regular-webfont.svg#FengardoNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FengardoNeueBlack';
	src: url('../font/FengardoNeue_Black-webfont.eot');
	src: url('../font/FengardoNeue_Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/FengardoNeue_Black-webfont.woff') format('woff'),
	url('../font/FengardoNeue_Black-webfont.ttf') format('truetype'),
	url('../font/FengardoNeue_Black-webfont.svg#FengardoNeueBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}


@media only screen and (min-width:480px) { 
	
	/*
	== nav styles
	*/	
	
	/* 
	== toggle nav  turns back into normal horizontal nav
	*/
	a.menu-link {
		display: none;
	}
	.js #menu {
		max-height: none;
	}
	#menu  li {
		float:left; 		
	}
	#menu {
		width: 100%;		
		padding: 0;
		margin-bottom:0;
	}
	#menu li a {

		font-size: 1em;
		text-align: center;
		cursor: pointer;
		padding:.75em 1em;
	}
	
	/*mission styles*/
	.mission {
		background: url(../images/sm_skyline.jpg) no-repeat;
		background-position: top center;
		min-height: 247px;
	}

	.mission h1 {
		font-weight: bold;
		font-size:2em ;
		color: #fff;
		line-height:1.1em;		
		text-align: center;
		padding:2em 0 1em;
		text-shadow: 0px -1px 0px #29211c;
		filter: dropshadow(color=#29211c, offx=0, offy=-1);
		max-width: 300px;
		margin:0 auto ;
	}
	.mission .action{
		width:260px;
	}


	/* ==page-content styles */	
	.page-content{
		margin-top: 3em;
	}
	.feature {		
		overflow: hidden;
		position: relative;
		padding: 1em 0;
		clear: both;
		min-height: 10em;
	}

	.video-box{
		width:55%;
		float:right;
	}
	#demo-video h1, #demo-video p{
		display: block; /* these elements are hidden and reappear once tablet size is achieved */
	}

	article h2 {
		font-size: 2em;
		line-height: 1.1em;
		float: left;
		clear: left;
		margin-bottom: 0;
		width: 40%;
	}
	.page-content p{
		margin:.5em 0;
	}

	#demo-video p {
		font-size: 1em;
		margin: 0;
		float: left;
		clear: left;
		width: 40%
	}

	article p.pubdate {
		font-size: 1em;
		text-transform: uppercase;
		float: left;
		clear: left;
		margin: 0 0 1em;
		width: 40%;
	}

	article .preview {
		height: 175px;
		position: absolute;
		top: 0;
		right: 0;
		width: 55%;
	}

	
	/* ==gallery styles*/
	.image-box{
		width:48%;
		margin-right:2%;
		float:left;
	}

	/* == form styles*/
	/* radio/checkbox lists switch to 2-columns*/
	.choice-list li{
		width: 48%;
		float:left;
		margin-right:2%;
	}

	/*
	==aside styles
	*/

	/* Tiny Nav goes away, list returns */
	.tinynav { display: none }
	
	aside section{
		float:left;
		clear: none;
	}	
	aside .product-tour {
		width: 45%;
		background-color: transparent;
		margin-bottom: 2em;
		padding-left:0;
		padding-right: 0;
	}
	aside .developer-blog{
		width:55%;
	}
	aside .product-tour ul {
		display: block;
		list-style-type: none;
	}
	aside .product-tour li{		
		float:none;
		background: #e4e4e4; /* Old browsers */
		background: -moz-linear-gradient(top,  #e4e4e4 0%, #dddddd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e4e4e4 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e4e4e4 0%,#dddddd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e4e4e4 0%,#dddddd 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #e4e4e4 0%,#dddddd 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	}
	aside .product-tour a{
		padding:1em;
		display: block;
	}

	/* ==footer styles*/
	#page-footer {
		clear:both;
	}
	#page-footer section{
		width:50%;
		float:left;
	}
	#page-footer .action{
		clear:both;
		width:50%;
		float:right;
		margin-right:1em;
		font-size:.8em;
	}
	#page-footer h2{
		background-color: rgba(0,0,0,.2);
		padding:.25em;
		margin-bottom:.25em;
	}
}
/* ==desktop styles*/
@media only screen and (min-width:800px) {

	body {
		max-width: 1200px; /* prevent it from getting too wide to read comfortably */
	}
	/*header styles*/
	header {
		min-height: 96px;
	}
	header h1 {		
		background-position: left top;
		margin-top:1em;
	}


	/*
	==mission styles
	
	*/
	.mission {
		min-height: 200px;
		background: url(../images/gallery_banner.jpg) no-repeat;
		background-position: top left;
		background-size:cover; /* make it stretchy*/
		background-color:#64384f;
		padding-top:1px;
	}

	.mission h1 {
		padding:0;
		font-size: 2.2em;
		color: #fff;
		text-align: left;
		letter-spacing:.1em;
		width: auto;
		margin:10% 0 2% 60%;
	}
	.mission .action{
		margin:0 0 5% 60%;

	}	
	/*
	==basic page layout - float the aside next to the content
	*/
	.page-content { /* wider column */
		float: left; 
		width: 71%;
		margin: 3em 2% 0 ;
	}
	aside {
		float: right;
		width: 25%;
		padding: 0;
		margin:0;
	}
	/* make the sections of the aside sit one above the other */
	aside .product-tour, aside .developer-blog{
		width: 100%;
		float:none;
	}
	#page-footer section{
		width:33.3333%;
	}
	#page-footer .action{
		width:auto;
	}
	/* 
	== contact page
	*/
	

	/*
	== form styles
	*/
	/* make the radio and check box lists sit horizontally*/
	
	/* 
	==gallery styles
	*/
	#gallery{
		width:100%;
	}

}
/* ==largest desktop styles*/
@media only screen and (min-width:1200px) {

	/*
	== form styles
	*/

	/*fieldsets - switch to 2 col on wide layout*/

	/* == gallery styles */
	.image-box{
		width:31%;
	}
	


}
