@charset "UTF-8";
/* CSS Document */

/* COLORS
blue:#3D769C
green:#9BAD3C

/* fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700);
/* end fonts*/

html{
	background-color:#3D769C;
}

body {
    background: #fff;
    color: #333;
    font-size:100%;
	max-width:1370px;  /*this is the max size for the imagw not to upsample*/
	margin:0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul{
	list-style:none;
}

/* Typography */
body{
	font-family:'Gentium Book',Trebuchet MS, serif;
	color:#666;
	padding-left:1.5em; /*24px / 16px*/
}

h1 {
    font-family: 'Open Sans', Trebuchet MS, sans-serif;
    font-size: 3.5em; /* 40px / 16px */
    line-height: 1.2em; /* 48px / 40px */
    margin-bottom: .2em;
    margin-top: .4em;
	color:#9BAD3C;
	text-transform:uppercase;
	letter-spacing:-0.05em;
	font-weight:400;
}

h1 b{
	color:#3D769C;
	font-weight:700;
}

h2 {
    border-bottom: 2px solid #dbdbdb;
    font-family: 'Open Sans', Trebuchet MS, serif;
    font-size: 1.5em; /* 24px/16px */
    line-height: 1em;
    margin-bottom: .666666667em; /* 16px / 24px */
    margin-top: 1em;
	color:#3D769C;
}
b{
	font-weight:700;
	color:#9BAD3C;
	font-size:1.2em;
}
.summary{
	font-size:1.5em;
	line-height:1.2em;
	font-weight:400;
	
	
}

blockquote {
    font-style: italic;
    margin-bottom: 1.5em;
    padding-left: 1em;
}

blockquote:before {
    content: "\201C";
    float: left;
    font-size: 2.5em;
    font-style: normal;
    left: -.4em;
	top: -0.35em;
    position: relative;
	color:#9BAD3C;
}

a {
    color: #9BAD3C;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
aside a:before{
	content:"• ";
	color:#3D769C;
}

cite {
    display: block;
    font-style: italic;
    text-align: right;
	color:#9BAD3C;
	font-size:0.75em;
}
figcaption{
	font-size:0.7em;
	font-style:italic;
	text-align:right;
	padding-top:0.5em;
}

aside section {
    overflow: hidden
}

/*
Base styles
 * --------------------------------------------------*/

p,
ul{
    margin-bottom: 1em
}

#container {
    margin: auto 0;
    overflow: hidden;
    width: 95%;
    padding: .625em 1.0548523% 1.5em; /* 10px/16px, 10px/948, 24px/16px */
}
main {
	display: table-cell;
	padding-right: 2.5316456%; /* 24px / 948px */
}

aside {
    display: table-cell;
	width: 300px;
	padding-top:2em;
}
aside img,
main img
{
	max-width:100%;
	width: 100%;
	
}
	
aside img{
	padding:0.5em 0;
}
