/*Skinny Screen First 320 and up */
/* mini reset */
*{
	box-sizing:border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	margin: 0 auto;
	font-family: Cambria, Georgia, serif;
}
header{
	background-color:#81DCB8;
	background-color:#998D76;
	padding: 1%
}
main{
	background-color:#EFE3BE;
	padding: 1%;
}
aside{
	background-color:#EFD3AB;
	padding: 1%;
}
article,
h2,
aside p{
	padding:2%;
}

footer{
	color:#FFF;
 	text-align: center;
 	background-color: #414141;
	padding: 1%;
}


/*
Navigation
 */
 nav li a{
	background-color:#EFE3BE;
	
 	display: block;
 	margin:.5em .25em;
 	padding:.25em; 
 	text-align:center;
	

 }
 /*
 Typography
 */
 h1, h2{
	 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
 }
 
 h1{
 	font-size:1.25em; /* 20/16*/
 	text-align: center;
 	background-color: #414141;
	padding:1em 0;
 }
 h1 a{
color:white;
text-decoration: none;

 }
 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#630;
	color:#414141;
 }
 
 .button{
 	
	background-color:#98CED5;
 	display:block;
 	padding:.5em; 	
 	text-align: center;
 	margin: 1em .25em;
 	-webkit-border-radius: .5em;
border-radius: .5em;

 }
 aside{
	 font-size:0.9em;
 }


@media only screen and (min-width: 480px) {
  /* 480 =================================================== */
  header{
  	padding: 2%;
  }
  nav li{
  	display: inline-block;
  }
  nav li a{
  	display:inline-block;
  }
  .skip{
  	display: none;
  }


}
@media only screen and (min-width: 600px) {
  /* 600 =================================================== */
  main{
  	width:62%;
  	float:left;
  }
  aside{
  	width: 34%;
  	float:right;
  }
  aside#sidebar2{
  	clear:right;
  }
  footer{
  	clear: both;
  }
}
@media only screen and (min-width: 768px) {
  /* 768 =================================================== */
}
@media only screen and (min-width: 992px) {
  /* 992 =================================================== */

  main{
  	width:54%;
  	float:left;
  }
  aside{
  	width: 20%;
  	float:left;

  }
  aside#sidebar2{
  	clear:none;
  }
  
}
@media only screen and (min-width: 1382px) {
  /* 1382 =================================================== */
  article {
	  -moz-column-count:2; /*firefox*/
	  -webkit-column-count:2; /*safari, chrome*/
	  column-count:2; 
	  -moz-column-gap:1.5em; /*firefox*/
	  -webkit-column-gap:1.5em; /*safari, chrome*/
	  column-gap:1.5em; 
	  -moz-column-rule:1px dotted #999; /*firefox*/
	  -webkit-column-rule:1px dotted #999; /*safari, chrome*/
	  column-rule:1px dotted #999;
   
  }
}
/* TODO:  */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* 2x =================================================== */
  body{
  	font-size:150%;
  }
}