*{

	/* apply a natural box layout model to all elements
	http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

/* colors, just to tell everything apart */
html{
	background-color:#ccc;
	font-family: sans-serif;
}
body{
	background-color:white;
}
header, header *{
	background-color:rgba(100,0,0, .3); /* pink */

}
main, main *{
	background-color:rgba(0,100,50,.2); /* aqua */
}
#banner{
	background-color:rgba(0,0,100,.2); /* blue */
}
aside{
	background-color:rgba(100,0,100,.3);/* purple */
}
footer, footer *{
	background-color: rgba(150,100,0,.3);
}


/* basic layout */

body{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}
header h1{
	min-height:100px;
}
#banner{
	min-height:100px;
}
/* 
== toggle nav 
http://codepen.io/bradfrost/pen/sHvaz 
*/

a.menu-link {
	float: right;
	display: block;
	padding: 1em;
}
nav[role=navigation] {
	clear: both;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
}
nav[role=navigation].active {
	max-height: 15em;
}
nav[role=navigation] ul {
	margin: 0;
	padding: 0;
	border-top: 1px solid #808080;
}
nav[role=navigation] li a {
	display: block;
	padding: 0.8em;
	border-bottom: 1px solid #808080;
}
/*
end nav
*/

@media screen and (min-width: 37.5em) { /* 600px */
	/* 
	== toggle nav  turns back into normal horizontal nav
	http://codepen.io/bradfrost/pen/sHvaz 
	*/
	a.menu-link {
		display: none;
	}
	.js nav[role=navigation] {
		max-height: none;
	}
	nav[role=navigation] ul {
		margin: 0 0 0 -0.25em;
		border: 0;
	}

	nav[role=navigation]  li {
		display: inline-block;
		margin: 0 0.25em;
	}
	nav[role=navigation] li a {
		border: 0;
	}

	
	/*Footer widgets become 2-col layout */
	footer section{
		width:50%;
		float:left;
	}
}
@media screen and (min-width: 50em) { /* 800px */
	/* main area becomes 2 column layout
	*/
	main article{
		width:80%;
		float:left;
	}
	aside{
		width:20%;
		float:right;
	}
	footer{
		clear: both;

	}
	/*Footer widgets become 4-col layout */
	footer section{
		width:25%;
		float:left;
	}
}