@charset "UTF-8";
/* CSS Document */
/*convert xex to rgb: http://www.javascripter.net/faq/hextorgb.htm  */


/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

.cf {
	zoom:1;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
	background-color:#A1C049;
}

body {
	width: 85%;
	margin: 1em auto 0;
	font: 90%/1.5 Georgia, "Times New Roman", Times, serif;
	/*max-width:1000px;*/
	background:#FFF;
	
}

main{
	background:#FFF;
	padding:2em;
}
header{
	background:url(../images/yellowFlowerBan.jpg) center no-repeat;
	height:367px;
	padding:0 1em;
	
}
section {
	float: left;
	width: 60%;
	margin-right: 5%;
}
article{
	clear:both;
}

aside {
	float: right;
	width: 35%;
	margin: 0;
	background:#B5CE8A;
	padding:1.5em;
}

/* images settings */
img{
	margin-bottom:1em;
}

#float img{
	float: left;
	width: 45%;
	margin: 0 2em 1em 0;
	min-width: 200px;
}

#imgbanner {overflow:hidden;} 
#imgbanner img{
	float:right;
}

#first figure{
	text-align:center;
}
#first img{
	width:100%;
	max-width:300px;
	
}

#second img{
	width:100%;
	max-width:100%;
}

/* TYPOGRAPHY */

h1, h2, h3 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	margin: 0 0 .5em;
}

h1 {font-size: 2.6em; }
h2 { font-size: 2em; }
h3 {font-size: 1.6em; }

article h2{
	margin-top:1em;
	color:#478635;
}

header h1{
	color: white;
    font-size: 5em;
    line-height: 1;
    padding-top: 0.5em;
    text-align: center;
    text-transform: uppercase;
	text-shadow:2px 2px 0 rgba(148,187,81,1),6px 6px 2px rgba(22,51,7, 25);
}
header p{
	color: white;
    line-height: 1;
    margin-top: -1.5em;
    text-align: center;
}

article p:first-of-type {
	font-size: 1.2em;
	font-style: italic;
}
h1+p{
	font-size:1.6em;
	font-style: italic;
	
}

a {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: black;
}

aside{
	font-size:0.9em;
}

