@charset "UTF-8";
/* CSS Document */
/*COLORS /////

dark orange:#C60;
light green/beige:#CC9;
dark green:#996;


*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather);

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

.cf {
	zoom:1;
}

html{
	background-color:#CC9;
}
body{
	font-family:Merriweather, "MS Serif", "New York", serif;
	font-size:100%;
	width:90%;
	margin:1% auto;
	background-color:white;
	color:#333;
}
header{
	background-color:#C60;
	color:#cc9;

}
h1{
    margin: 0;
    padding: 2%;	
}
main{
padding:2em 3em;
}
nav,
footer{
	background:#000;
	color:#c60;
	
	
}
ul{
	padding:0 0 0 1em;
	margin:0;
}

ul li{
	display:inline-block;
	padding:1em;
	list-style:none;	
}

main{
	float:left;
	width:65%;
}
aside{
	float:right;
	width:35%;
	background-color:#996;
	padding:1em 2em;
}
blockquote{
	margin:0;
	padding:0;
}

footer{
	clear:both;
	color:#CC9;
	padding:1em;	
}

/*flexible image*/
figure{
	margin:0;
}
figure img{
	max-width:100%;
}
/*flexible videos */


/*typography*/
body{add the video
	font-size:0.9em;
	line-height:1.7;
}
b{
	font-weight:normal;
	font-style:italic;
}
	
header{
	font-family:Oswald, Verdana, Geneva, sans-serif;
	font-weight:400;
	foont-size:1.4em;
	
}
h1{
	font-size: 4.5em;
    letter-spacing: 0.25em;
	text-align: center;
    text-transform: uppercase;
}

h2{
	font-family:Oswald, Verdana, Geneva, sans-serif;
	font-weight:400;
	font-size:2em;
	color:#C60;
}
a{
	color:#c60;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
nav a{
	color:#CC9;
	text-decoration:none;
	font-family:Oswald, Verdana, Geneva, sans-serif;
	font-weight:400;
	letter-spacing:0.2em;
}
nav a:hover{
	text-decoration:underline;
}
aside h2{
	color:#CC9;
}
blockquote{
	font-style:italic;
}
footer {
	text-align:center;
	font-family:Oswald, Verdana, Geneva, sans-serif;
	letter-spacing:0.1em;
}
footer address{
	font-size:0.8em;
}

footer a{
	display:inline-block;
	padding:0 0.5em;
	text-decoration:none;
}
footer a:hover{
	color:#996;
	text-decoration:none;
}
address i{
	padding:0 0.5em;
	
}

