/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*
== Basic Links
*/
a {
	color: #4ebeb1;
}
a:hover,
a:focus{
	color:#535b97;
	background-color: #eee;
	outline: none;
}
a:active{

	outline: none;
}
/*
== fluid images  
*/
img{
	max-width: 100%;
	height: auto;
}
/*
== helper classes
*/
.alignleft{
	float:left;
	margin-right:1em; 
}
.alignright{
	float:right;
	margin-left:1em; 
}
/* 
== Basic Layout
*/

body {
	font-size: 100%; /* set base font to 16px */
	font-family: "Myriad Pro", Myriad, Tahoma, Geneva, sans-serif;
	
}
.wrapper {
	max-width: 60em; /*960/16*/ 
	min-width: 20em;/*320/16*/
	margin: 0 auto; 
	position: relative;
	/*removed padding here, moved to min-800*/
}


/*added to look nice on small screens.  reset this in min-800*/
.call-to-action, .intro-text,.features, .blog-posts, .twitter{
	padding:.75em; 
}

header{
	position: relative;
	background-color: #1f1f1f; /*added to replace the large background image on small screens*/
	padding: 1em 0 0 0;
	
}

header h1 {
	background-image: url(../images/logo.png);
	width: 12.5em; /*184/16*/
	height: 3.185em; /*35/16*/
	background-repeat: no-repeat;
	
}

header h1 a {
	text-indent: -99999em;
	outline: none;
	display: block;
	height: 3.185em;
}
header .utilities {
	display: none; /*decided these links are unimportant to small screen users*/
	/*moved to min-800*/
}
header .utilities li {
	display: inline;
	padding: 0 .3125em;
	border-left: 1px solid #999;
}
header .utilities li.rss {
	border-left: none;
	background-image: url(../images/icon_16_rss.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0 1px;
}
header .utilities a {
	color: #999;
	text-decoration: none;
}

/* 
== Call to action Banner
*/
.call-to-action{
	background-color: #519ab1 ;/*added to replace the body background image that dodnt work on smaller screens*/
	text-align: center; /*added for small screens. reset in min-800*/
	font-size: .85em; /*added for small screens. reset in min-800*/
}

.cta-contents {
	color: white;	
	/*moved styles to min-800*/
}
.cta-contents h2 {
	text-shadow: 0px -1px 0px #001967;
	filter: dropshadow(color=#001967, offx=0, offy=-1);
	font-size:2.625em;
	line-height: 1.2em;
}
.cta-contents h3 {
	color: #3d4372;
	font-size: 1.5em;
	line-height: 1.2em;
	margin: .6666em 0;
}
/*added this block to hide the monitor on small screens TODO: improve performance by removing the original image from small screens in the markup*/
.large-monitor{
	display:none;
}


/* STEP2 moved rules to min-800*/

aside {
	clear: both;
	padding:2.5em 0;
}

/*moved features basic layout to min-800*/

.features li{
	margin-bottom:.75em;/*added to look nice on small screens*/
	clear: left; /*added to make them stack on small screens*/
}
.features li img{ 
	float:left;

	margin:0 .625em 1.25em 0;
}
/*moved blog posts basic layout to min 800*/
.blog-posts article{
	margin-bottom:1em;/*added to look nice on small screens*/
}
.blog-posts img{
	border:solid 3px #ddd;

}
/*moved twitter basic layout to min-800*/
footer {
	border-top:solid 10px black;
	clear: both;

}
/* Navigation */

/*for smallest screens, hide the navigation temporarily so it doesn't get in the way of the layout. 
TODO:  add the toggle button for small screens*/
/*.nav-toggle{
	display: none;
}
*/

.js .nav-toggle{
	background-color: #505793;
clear: both;
	display: block;
	color: white;
	padding: .75em;
	text-decoration: none;
}
.js .nav-toggle:before{
	content: '\00bb\00a0'; /*arrow and nbsp*/
}
.js #menu {
	background-color: #505793;
	overflow: hidden;
	max-height: 0;
}
#menu.active {
	max-height: 15em;
}

#menu li{
	
	line-height: 3em;
}
#menu li a{
	padding: 0 1.33em; 
	font-size: 1.125em; 
	display: block;
	color:white;
	text-decoration: none;
}
#menu li a:hover, 
#menu li a:focus,
#menu li.current a{
	color:white;
	background-color: rgba(0,0,0,.15)
}
footer ul{
	max-width: 60em; /*960/16*/ 
	min-width: 20em;/*320/16*/
	margin: 1em auto;
}
/*footer li changed & some properties moved to min-500*/
footer li{
	width: 50%;
	float:left;
	margin-bottom: .5em;
}
/*footer a changed to work better on small screens: */
footer a{
	color:black;
	display: block;	
	padding: .5em .25em;
	text-align: center;
	text-decoration: none;
}


/* Typography */ 


main, aside{
	line-height: 1.2em;
}
main .intro-text h2{
	font-size:1.5em; /*24/16*/
	color:#4d548f;
	margin-bottom: .3333em; /*8/24*/
	line-height: 1.166666em; /*28/24*/
}
.features{
	font-size: .875em; /*14/16*/
}
.features h3{
	font-size:1.07142em; /*15/14*/
	font-weight: bold;
	color:#4d548f;
}
aside h2{
	text-transform: uppercase;
	color: #999;
	font-size:.75em; /*12/16*/
	border-top: solid 1px #DDD;
	margin-bottom:.666666em;/*8/12*/
	
}
aside h3{
	font-weight: bold;
}
.blog-posts{
	font-size: .9375;/*15/16*/
}
.twitter ul{
	font-size: .75em;/*12/16*/
}
.twitter time{
	color:#999;
}
/* Buttons */
.button{
	width:100%;/*added for small screens. reset in min-800*/
	max-width:20em; /*added for small screens. reset in min-800*/
	margin:0 auto;/*added for small screens. reset in min-800*/
	clear: both;
	text-align: center;	
	font-size:16px; /* rem fallback */
	font-size:1.125rem; /*18/16 used rems here because different buttons appear in different contexts */
	padding: .555555em 1.1111em; /* 10/18  20/18*/
	line-height: 1em;
	color: white;
	text-decoration: none;
	display: block;
	-webkit-border-radius: 10em;    
	border-radius: 10em;
	-webkit-box-shadow:  0px 1px 0px 0px #717171, 
	0px -1px 0px 0px #d0d0d0;        
	box-shadow:		0px 1px 0px 0px #717171,
	0px -1px 0px 0px #d0d0d0;
	background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9a9a9 0%, #898989 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a9a9), color-stop(100%,#898989)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9a9a9 0%,#898989 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a9a9a9 0%,#898989 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#898989',GradientType=0 ); /* IE6-9 */


}
.button:hover{
	background:#5394ad;
	color:white;
}
.primary{
	-webkit-box-shadow:	0px 1px 0px 0px #373c6d, 
	0px -1px 0px 0px #8b98ce;        
	box-shadow:  		0px 1px 0px 0px #373c6d,
	0px -1px 0px 0px #8b98ce;
	background: #a9a9a9; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f68a6 0%, #454b85 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f68a6), color-stop(100%,#454b85)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f68a6 0%,#454b85 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f68a6 0%,#454b85 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a9a9', endColorstr='#454b85',GradientType=0 ); /* IE6-9 */


}
/* Breakpoints
Let the content dictate where to break!*/

/* 500 and up. ADD THIS BREAKPOINT SECOND. this is the point where the blog posts and features need to switch to 2-columns*/
/* Large screens ----------- */
@media only screen and (min-width : 31.25em) {
	header .utilities {
		display: block;
		position: absolute;
		top: .375em;
		right: 0;
		width: 50%; 
		text-align: right;
	}
	.call-to-action{
		padding: 2em 1em;
		font-size: 1em;
	}
	.intro-text{
		margin-top: 2em;
	}
	.features li{
		width: 45%;
		margin-right: 5% ;
		float:left;
		clear: none;
	}

	.blog-posts article {
		width: 45%;
		margin-right: 5% ;
		float:left;
		padding:1%;
	}
	.twitter{
		width: 45%;
		margin-right: 5% ;
		float: left;
	}
	footer li{
		display: inline-block;
		padding-right:1em;
		width: auto;
		float: none;
	}
	footer li a{
		padding: 0;
	}
}
/*.nav-toggle{
	display: none;
}*/


/* 650 and up. ADD THIS BREAKPOINT THIRD. navigation should return to normal horizontal list */
@media only screen and (min-width : 40.625em) {
	.js a.nav-toggle {
		display: none;
	}
	.js #menu {
		max-height: none;/*the nav was hidden on smaller screens, this brings it back*/
	}
	 #menu {
		 
		background-color: #505793;
		width: 100%;
	}
	#menu li{
	display: inline-block;
}

}

/* 800 and up. ADD THIS BREAKPOINT FIRST. this is the minimum size that the original layout looks good in

Move layout styles from the code above down to this section
*/
/* Large screens ----------- */
@media only screen and (min-width : 50em) {
	body{
		/*the background just wasn't working for smaller screens, background colors were used instead. */
		background-image: url(../images/background_home_body.png);
		background-repeat: repeat-x;
	}
	wrapper{
		padding-top: 1.125em; /*20/16*/
	}
	/*added to look nice on small screens.  reset this in min-800*/
	 .call-to-action, .intro-text,.features, .blog-posts, .twitter{
		padding:0; 
	}
	header{
	/*padding-top:1em;	*/
	background-color: transparent; /*remove the BG color applied to small screens*/
	}
	header h1{

	}
	#menu{
		position: absolute;
		top:80px;
		background-color: transparent;
	}
	
	
	
	main {
		margin-top: 480px; 
	}
	.call-to-action {
		text-align: left;
		background-color: transparent; /*remove the BG color applied to small screens*/
		position: absolute; 
		left: 0;
		top: 126px;
		width: 100%;
	}
	.cta-contents {
		position: absolute;
		top: 80px;
		right: 0;	
		line-height: 50px;	 
		width: 50%; 
	}
	.button{
		width:auto; 
		display: inline-block;
	}

	
	.large-monitor {
		display: inline;/* it was hidden on smaller screens, bring it back*/
		position: relative;
		left: -22px;
	}
	.intro-text {
		margin-left:1%;
		width: 48%; 
		float: left;
	}
	.features {
		width:49%; 
		float: right;
	}
	.features li {
		width: 48%; 
		float: left;
		clear:none;
		margin:0 2% 1.25em 0;
	}

	.blog-posts {
		width: 75%; 
		float: left;
		margin-bottom:.625em;
	}
	.blog-posts article {
		width: 33%; 
		margin:0;
		float:left;
	}
	.twitter {
		width: 25%;
		margin:0; 
		float: right;
	}
	



}
