@charset "UTF-8";
/* CSS Document */

/*COLORS
magenta: #f74ec6
gray:9393939;
BEIGE:#D0C1B1
*/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Rambla);

html{
    background-color:#939393;
}
body{
    font-size:100%;
   	width:95%;
    max-width:3000px;
    min-width: 480px;
    margin:0 auto;
}
header{
    background-color:#f74ec6;
    padding:2.08%;
}
aside{
    width:30%;
    float:right;
    padding:2.08%;
}
main{
    background-color: white;
    float: left;
	width:70%;
    padding:2.08%;
}
img{

}
aside p{
	margin:1em 1.8em;
}
footer{
    background-color: #26211D;
    clear: both;
    padding:2.08%;
	color:#D0C1B1;
	text-align:center;
	
}

/*quickie reset of margins around headings and p*/
p, h1, h2, h3{
  margin: 2.08% 0;
}

/*typography*/
body{
	font-family:Rambla, Tahoma, Geneva, sans-serif;
}

h1{
	color:white;
	font-family:"Fjalla One", Tahoma, Geneva, sans-serif;
	font-weight:400;
	letter-spacing: 0.05em;
	font-size:3em; /*48px /16px*/
	
}
h2{
	color:#f74ec6;
	font-weight:400;
	font-size:2em;
} 
i{color:#f74ec6;}

blockquote{
	font-size:1.2em;
	color:#EF5E3B;
}
cite{
	font-size:0.7em;
	color:black;
	font-style:italic;
	text-align:right;
	
}
	
