/* ==========================================================================
   Basic em typography styles. works with normalize.css
   ========================================================================== */
/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
    background-color:#4f5760;
}
body{
    font-size:1em; /* 16px base font */
    line-height: 1.4em; 
    background-color:#cacaca;
    width:98%;
    max-width:75em; /* 1200/16 */
    min-width: 20em; /* 320/16 */
    margin:0 auto;
}
header{
    background-color:#a7a7a7;
    padding:2.08%;
}
aside{
    background-color: #a7a7a7;
    width:31.25%;
    float:left;
    margin:2.08%;
     padding:2.08%;
}
main{
    background-color: #a7a7a7;
    width: 62.5%;
    float: right;
    margin:2.08% 2.08% 2.08% 0;
    padding:2.08%;
}
footer{
    background-color: #a7a7a7;
    clear: both;
    padding:2.08%;
}

/*quickie reset of margins around headings and p*/
p, h1, h2, h3{
    margin: 2.08% 0;
}
/* 
Typography
*/
header h1{
    font-size: 2.25em; /* 36/16 */
}
header h2{
    font-size: 1.5em; /* 24/16 */
}

/* context of main is 16px base font */
main h3{
    font-size: 1.25em; /* 20/16 */
}

/* lets change the context of the aside, so the base font is 14px instead of 16*/
aside{
    font-size: 0.875em; /* 14/16 */

}
/* now the context for the h3, p, and list are different*/
aside h3{
    font-size: 1.428571em;
}